params {
    outdir = 'results'

    // Run pipelines
    rnafusion_enabled = true
    tomte_enabled = true


    // Pipeline inputs
    // Use nf-core launch
    rnafusion_params = null
    tomte_params = null

    // Command-line options
    all_cli = '-resume -ansi-log false -profile singularity'
    rnafusion_cli = ''
    tomte_cli = ''

    // Additional configuration files
    fetchngs_config = null
    detaxizer_config = null
    createtaxdb_config = null
    ampliseq_config = null
    taxprofiler_config = null
    eager_config = null
    magmap_config = null
    mag_config = null
    metatdenovo_config = null
    differentialabundance_config = null
    metapep_config = null
    phageannotator_config = null
    funcscan_config = null
    phyloplace_config = null
    gms_metaval_config = null
}

resume = true

process {
    errorStrategy = 'finish' // Important, otherwise concurrent running of workflows may kill the other on error leaving a lock file present
    withName: 'NFCORE_RNAFUSION' {
        publishDir = "$params.outdir/nf-core-rnafusion"
    }
    withName: 'GMS_TOMTE'{
        publishDir = "$params.outdir/gms-tomte"
    }
}
